<div class="card mt-3 text-bg-dark">
  <img src="../images/cocktailbar.jpg" class="img-fluid" alt="..." />
  <div class="card-img-overlay">
    <h5 class="card-title text-bg-dark p-3 bg-opacity-75">{{appTitle}}</h5>
    <p class="card-text text-bg-dark p-3 bg-opacity-75">When you are not signed
      up, you can watch all existing recipes in the database. Sign up to add
      recipes to the database.</p>
  </div>
</div>