<div class="img-fluid" style="background-image: url('/images/cocktailbar.jpg'); no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
">

<h1 class="display-5 index text-center">{{appTitle}}</h1>
<p style="height: 100vh">Welcome Ironhacker!</p>

</div>
