<div class="card text-bg-dark">
  <img src="../images/cocktailbar.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title text-bg-dark p-3 bg-opacity-75">{{appTitle}}</h5>
    <p class="card-text text-bg-dark p-3 bg-opacity-75">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
</div>
