<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
   <header>
      <p>
         <a href="/recipes">Recipes list</a> |
         <a href="/recipes/create">Create a new cocktail recipe</a>
      </p>

      <p>
         {{#if userInSession}}
            Hello, {{ userInSession.email }} |
            <a href="/user-profile">Profile Page</a>
            <br>
              <a href="/auth/logout">Logout</a>
         {{else}}
            <a href="/auth/signup">Register</a> |
            <a href="/auth/login">Login</a>
         {{/if}}
      </p>
   </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>