body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  margin: 1rem auto;
}

.bgimage {
  background-size: cover;
}

.index {
  color: rgba(203, 163, 18, 0.829);
  padding-top: 3rem;
}