<h2>{{name}}</h2>
Spirits: {{spirits}} <br />
Ingredients:
<ul>
    <li>{{#each otherIngredients}}</li>
        {{/each}}
</ul>
Difficulty: {{difficulty}}<br />
Description: {{description}}<br />
Instructions: <ul>
    <li>{{#each instructionSteps}}</li>
        {{/each}}
</ul>
