<h2>Add a new Cocktail recipe</h2>

<form action="/recipes/create" method="post">
    <label>Name:
        <input type="text" name="name"/>
    </label>
    <label>Spirits:
        <select name="spirits" multiple>
                <option value="Gin">Gin</option>
                <option value="Vodka">Vodka</option>
                <option value="Rum">Rum</option>
                <option value="Tequila">Tequila</option>
                <option value="Other">Other</option>

        </select>
    </label>
    <label>Ingredients:
        <input type="text" name="otherIngredients" />
    </label>
        <label>Difficulty:
        <select name="difficulty">
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
        </select>
    </label>
    <label>Description:
        <textarea name="description" cols="30" rows="4"></textarea>
    </label>
    <label>Instructions:
        <textarea name="instructionSteps" cols="30" rows="8"></textarea>
    </label>

    <button type="submit">Add your Cocktail Recipe</button>
</form>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}}