<div class="container text-left">

  <section class="container mt-3">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add a new cocktail recipe</h5>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}

        <form action="/recipes/create" method="post" enctype="multipart/form-data">

          <div class="mb-3">
            <label class="form-label"><strong>Name*:</strong></label>
            <input type="text" class="form-control" name="name" />
          </div>

          <div class="mb-3">
            <label>Image:
              <input type="file" name="cocktail-image" class="form-control-file" />
            </label>
          </div>


          <div class="mb-3">
            <label class="form-label"><strong>Spirits:</strong></label>
            <select name="spirits" class="form-select" size="5" multiple>
              <option value="Gin">Gin</option>
              <option value="Vodka">Vodka</option>
              <option value="Rum">Rum</option>
              <option value="Tequila">Tequila</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Ingredients*:</strong></label>
                  <input type="text"
                  class="form-control"
                  name="otherIngredients">
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Description:</strong></label>
            <textarea
              class="form-control"
              name="description"
              cols="40"
              rows="6"
            ></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Instructions*:</strong></label>
            <textarea
              class="form-control"
              name="instructionSteps"
              cols="40"
              rows="4"
              ></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Difficulty:</strong></label>
            <select name="difficulty">
              <option value="easy">easy</option>
              <option value="medium">medium</option>
              <option value="hard">hard</option>
            </select>
            </div>

          <button type="submit" class="btn btn-primary">Add your cocktail recipe</button>
        <p>Please note: all fields with an asterisk must be filled out.</p>
        </form>
      </div>
    </div>
  </section>
</div>